:host {
  display: block;
}

.glass-effect {
  background: rgba(255, 255, 255, 0.3); /* Fundo translúcido */
  backdrop-filter: blur(10px); /* Efeito de desfoque */
}

/* Animação de brilho */
@keyframes shine {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: 0 0;
  }
}

/* Estilo para borda brilhante */
.shine-animation {
  background: linear-gradient(90deg, #ff0080, #ff8c00, #ff0080);
  background-size: 200% 200%;
  animation: shine 2s infinite; /* Animação contínua */
}
